* {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    /* border: 2px solid yellow; */
    background-color: #333;


}
.header img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
}
.nav {
    display:grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px , 1fr)); */
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
    align-items: center;
    /* border: 2px solid red; */

}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;

}

.nav a:hover {
    background-color: #ddd;
    color: black;

}



.hero {
    min-height: 50vh;
    display:grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    background-color: 	#39579a;
    color: white;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url('../images/header.jpg'); */

}

.hero p {
    padding-left: 80px;
    padding-right: 80px;
    font-style: italic;
}


.button {

    background-color: #41B7CC; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 5vw 0 5vw;
    /* border: 2px solid red; */
    background-color:  #ddd;
}
.main-content section {
    min-width: 70%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
    background-color: #EDF0F5;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    padding: 70px;
}

.main-content aside {
    min-width: 25%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
    /* border: 2px solid pink; */
    background-color: #dfe3ee;
    text-align: center;
    font-size: medium;

}

.main-content-author img {

    width: 50px;

}
.main-content-author h3 {

    font-style: italic;

}
h2:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}





.footer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    align-items: center;
    background-color: #f1f1f1;
}
                
.social {
    justify-self: end;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}




  /* .hero-index {
    max-height: 5px;
    display:grid;
    justify-items: center;
    align-content: center;
    justify-content: center;

    background-color: 	#ff8cc9;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width: 600px) and (max-width:900px) {
    .container {
        min-height: 30vh;
        display:grid;
        justify-items: center;
        align-content: center;
        justify-content: center;
        background-color: 	#ff8cc9;
        color: white;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media (min-width:901px) {.hero-index {
    min-height: 25vh;
    display:grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background-color: 	#ff8cc9;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
}
.hero-index p {
    padding-left: 130px;
    padding-right: 130px;
  } */




  /* .card-list {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px , 1fr));
    
    }
    
.card {
display: grid;

grid-template-columns:	50% 50%;
grid-template-rows:	50% 50%;
background-color:  #DDD;
padding-left: 30px;
padding-right: 30px;

}

.card-details {
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: center;

}

.card-details a {
align-self: flex-start;
border: 2px solid pink;
}
.card-img-details {
display: flex;
flex-direction: column;
padding:10px
} */